<!doctype html>
<html>
  <head>
    <title>Add Users <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Become user at <%=siteName%></h1>
    <p>Enter username.</p>
    <form method="POST" action="/userAdded">
        
        <p>Username: <input id="username" type="text" name="username" /></p>
  
        <input type="Submit" value="Sign up" />
      </form>

  </body>
</html>