<!doctype html>
<html>
  <head>
    <title>Add a topic <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Add a top at <%=siteName%></h1>
    <p>Enter topic name.</p>
    <form method="POST" action="/TopicAdded">
        
        <p>Topic Name: <input id="Topic" type="text" name="TopicName" /></p>
  
        <input type="Submit" value="Add Topic" />
      </form>

  </body>
</html>