<!doctype html>
<html>
  <head>
    <title>See Topics <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Existing topics at <%=siteName%></h1>
    <p>Existing topics are on this page.</p>
    <ul>
      <% for (let Topic of availableTopics) { %>
        <li><%= Topic.TopicName %></li>
      <% } %>
    </ul>
  </body>
</html>