<!doctype html>
<html>
  <head>
    <title>Post Search <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search for posts at <%=siteName%></h1>
    <p>Search for posts on this page.</p>
  </body>
</html>